<div class="container">

  <div class="container search-bar">
    <div class="search-bar-outer">
      <div class="search-bar-inner">
        <form action="/search">
          <h4 class="mb-2">Search for Restaurants：</h4>
          <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="Names, Types Of Restaurants" aria-label="Restaurant Name..."
              value="{{keyword}}" aria-describedby="search-button">
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- restaurant list -->
  <div class="row mt-5" id="data-panel">
    {{#each restaurants}}
    <div class="col-sm-3">
      <a href="/restaurants/{{this.id}}" class="text-secondary">
        <div class="card mb-2">
          <img class="card-img-top" src="{{this.image}}"
            alt="{{this.name_en}}">
          <div class="card-body">
            <h6 class="card-title mb-1">{{this.name_en}}</h6>
      
            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i> {{this.category}}
            </div>
      
            <span class="badge bg-danger fw-normal">
              {{this.rating}}
              <i class="fas fa-star fa-xs"></i>
            </span>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>




